.app-todo {
  background-color: #f3f3f3;
}

.app-navigtion p {
  text-align: center;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 1px 1px #000;
}

.app-main {
  margin: 0 auto;
  width: 80%;
}

.app-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.app-form textarea {
  min-width: 100%;
  min-height: 200px;
  border: 0;
  margin-bottom: 20px;
  outline: none;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.app-form button {
  position: relative;
  background-color: #4caf50;
  border: none;
  outline: none;
  font-size: 24px;
  color: #ffffff;
  padding: 10px;
  width: 150px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.app-form button:after {
  content: "";
  background: #90ee90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.app-form button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
  border: 0;
}

.app-search-bar {
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.app-search-bar label {
  display: none;
}

.app-search-bar input {
  width: 100%;
  border: 0;
  outline: none;
}

.app-todo-list {
  margin-top: 30px;
}

.task-item {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-shadow: 0px 0px 41px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  margin-bottom: 20px;
}

.task-item-content {
  width: 80%;
  padding: 20px;
  margin-bottom: 30px;
  min-height: 100%;
}

.task-item-delete {
  -ms-flex-item-align: center;
  align-self: center;
}

.app-footer p {
  text-align: center;
  color: #636363;
  font-size: 12px;
}
